@model FOI_Log.Models.Ref_Department_Directors_Email

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ref_Department_Directors_Email</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Department.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Department.Department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Email_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
